@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
}
body {
  background: #C8C4C4;
}

.navbar {
  background: url('../src/img/cover.jpg') no-repeat fixed;
  object-fit: cover;
  height: 40vh;
  overflow: hidden;
  background-color: rgba(62, 73, 78, 0.7);
  background-blend-mode: soft-light;
}

