@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('http://fonts.cdnfonts.com/css/marvel');

html {
  padding: 0;
  margin: 0;
}
body {
  background: #C8C4C4;
  font-family: 'Marvel', sans-serif;
}

.navbar {
  background: url('../src/img/cover.jpg') no-repeat fixed;
  object-fit: cover;
  height: 40vh;
  overflow: hidden;
  background-color: rgba(62, 73, 78, 0.7);
  background-blend-mode: soft-light;
}

.wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
          "aside header header"
          "aside content right"
          "left content right";
}

.card {
  height: fit-content;
}

@media (max-width:780px) {
  .about-img {
    display: none;
  }
  .navbar {
    height: 50vh;
  }
}

