@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
}

.navbar {
  background-image: url('../src/img/cover.jpg');
  background-size: cover;
  width: 100%;
  height: 30vh;
}

.image-wrapper {
  object-fit: contain;
  width: 100%;
  height: 200px;
}
/* .image-wrapper > div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
} */